.modal {
  width: 320px;
  height: 609px;
  @media screen and (min-width: 450px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 581px;
    max-width: 528px;
  }
}

.modal-close__icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
  &:hover,
  &:focus {
    fill: var(--accent-color);
    transition: var(--timing-funktion);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  height: 609px;
  @media screen and (min-width: 1200px) {
    max-width: 528px;
    min-height: 581px;
  }
}

.form__title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form__field {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--timing-funktion);
  margin-top: 4px;
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  left: 12px;
  transition: fill var(--timing-funktion);
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-form__filling {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--timing-funktion);
  margin-top: 4px;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form__checktext {
  @media screen and (max-width: 449px) {
    flex-direction: column;
  }
  display: flex;

  align-items: center;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  &::before {
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #212121;
    margin-right: 8px;
    cursor: pointer;
  }

  .modal-form__term:checked + &::before {
    background-color: var(--accent-color);
    background-image: url('../images/check-white.svg');
    background-position: center;
    cursor: pointer;
    border-color: var(--accent-color);
  }
  .modal-form__term:focus + &::before {
    box-shadow: 0 0 0 2px var(--accent-color);
  }
}

.modal-check-link {
  font-size: 12px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form__btn {
  align-self: center;
  min-width: 200px;
  min-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 10px 56px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition-property: var(--primary-white-color);
  transition: var(--timing-funktion);
  margin-top: 30px;
  margin-bottom: 40px;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
